body {
    background-color: rgba(199, 212, 226, 0.932);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.button {
    border-radius: 3pt;
    background-color: #9cada1;
}    
 
input {
    border-radius: 3pt;
    background-color: #cadacf;
}    

.alinhando {
    border-radius: 3pt;
    background-color: #cadacf;
    text-align: center;
    margin-right: 10pt;
}

.margin {
    margin-right: 15pt;
}